*{
    box-sizing: border-box;
}
body, html {
    background:whitesmoke;
    margin: 0;
    padding: 0;
  }
   

.container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 320px;
    margin: auto;
    border: 1px solid #777;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0,0,0,0.2);
    padding-bottom: 20px;
    border-radius: 14px;
}


.display{
    background-color:#FF0509;
    height: 140px;
    border-top-left-radius:  14px; 
    border-top-right-radius: 14px;
    padding: 40px 0;
}

.keypad{
    padding: 10% 5% 0; 
}

.row{
    padding: 20px 0 5px;
    display: flex;
    align-items: center;
    
}

.keypad input[type="number"]{
    width: 140px;
    height: 60px;
    padding: 5%;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    background: rgb(230, 230, 238);
    border: none;


    
}

input[type="button"]{
    
    float: left;
    width: 60px;
    height: 60px;
    background:rgb(230, 230, 238);
    color: #5E5858;
    margin-left: 5%;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    cursor: pointer;
}

#equalBtn{
    color:whitesmoke;
    background:  #FF0509;
    margin: auto;

}

#displayText{
    color: whitesmoke;
    border: none;
    text-align: center;
    background:   #FF0509;
    font-size: 60px;
    font-weight: 700;
    margin: auto;
    width: 100%;
    padding: 0 5% 0;
    align-self: center;
}

.top{
    padding: 0 5% 0;
}

.bottom{
    position: absolute;
    bottom: 0;
    padding: 0 5% 0;
}